#Header { 
    background-color: #fff;
    height: 4em;
    width: 89.8vw;
    display: flex;
    margin-left: 20vh;
}

#search {
    display: flex;
    background-color: #D9D9D9;
    width: 4em;
    height: 27px;
    border-radius: 50px;
    margin-left: 50vh;
    margin-top: 1em;
}

#search img{
    height: 1.2em;
    width: 1.2em;
    margin-top: 4px;
    margin-left: 4px;
}

#search input {
    background-color: #D9D9D9;
    border: none;
    height: 2em;
    width: 9.5em;
    border-radius: 50px;
    padding-left: 1em;
}

#nav {
    margin-top: 1em;
    margin-left: 30vh;
    
}

#nav button {
    background-color: #E0CE8F;
    height: 2em;
    padding-left: 2em;
    padding-right: 2em;
    border-radius: 30px;
    border: 1px solid black;
    margin-left: 3em;
    transition: 1s ease;
    cursor: pointer;
    box-shadow: 0px -1px 5px 0px rgb(68, 68, 68);
}

#nav button:hover {
    background-color: #b8a976;
}

#nav a {
    color: black;
    padding-left: 2em;
}

#Header h1 {
    margin-top: 0.2em;
    margin-left: 2em;
}

    /* HeaderLeft */

#HeaderLeft {
    height: 110.5vh;
    width: 20vh;
    margin-top: -7vh;
    background-color: #fff;
    display: flex;
    flex-direction: column;
}

#HeaderLeft h1 {
    padding-left: 1.5em;
    padding-top: 0.5em;
    padding-bottom: 0.4em;
    margin-top: 2em;
}

#HeaderLeft p {
    padding-left: 5.5vh;
    padding-top: 1vh;
    padding-bottom: 1vh;
}

#HeaderLeft a {
    padding-left: 7.5vh;
    padding-top: 1vh;
    padding-bottom: 1vh;
    transition: 1s ease;
}

#HeaderLeft a:hover {
    background-color: #d1d1d1;
}


#Header, #HeaderLeft {
    position: fixed;
}

#HeaderLeft p {
    cursor: default;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
}